<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
		<link rel="stylesheet" href="css/99.css" />
	<link rel="stylesheet" type="text/css" href="css/u.css"/>
	</head>
	<body>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
		                <a class="mui-control-item mui-active" href="#item0mobile">全部</a>
		                <a class="mui-control-item" href="#item1mobile">女装</a>
		                <a class="mui-control-item" href="#item2mobile">男装</a>
		                <a class="mui-control-item" href="#item3mobile">鞋包</a>
		                <a class="mui-control-item" href="#item4mobile">配饰</a>
		                <a class="mui-control-item" href="#item5mobile">户外</a>
		                <a class="mui-control-item" href="#item6mobile">美妆</a>
		                <a class="mui-control-item" href="#item7mobile">母婴</a>
		                <a class="mui-control-item" href="#item8mobile">食品</a>
		                <a class="mui-control-item" href="#item9mobile">内衣</a>
		                <a class="mui-control-item" href="#item10mobile">数码</a>
		                <a class="mui-control-item" href="#item11mobile">家装</a>
		                <a class="mui-control-item" href="#item12mobile">居家</a>
		                <a class="mui-control-item" href="#item13mobile">家电</a>
		                <a class="mui-control-item" href="#item14mobile">汽车</a>
		                <a class="mui-control-item" href="#item15mobile">服务</a>
		                <a class="mui-control-item" href="#item16mobile">图书</a>
		                <a class="mui-control-item" href="#item17mobile">其他</a>
					</div>
				</div>
				<div class="mui-slider-group">
					<div id="item0mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="0">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item1mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="1">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="2">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="3">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="4">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item5mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="5">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item6mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="6">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item7mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="7">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item8mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="8">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item9mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="9">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item10mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="10">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item11mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="11">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item12mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="12">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item13mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="13">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item14mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="14">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item15mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="15">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item16mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="16">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
					<div id="item17mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" data-cid="17">
								<ul class="mui-table-view mui-grid-view"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script src="libs/arttmpl.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script src="js/mui.lazyload.js"></script>
	<script src="js/mui.lazyload.img.js"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" ></script>
	<script src="js/app.js" ></script><script src="js/cn.js" ></script>
	<script id="tpl-coupon-goods" type="text/html">	            
        {{each list as value i}}
	        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		        <a href="javascript:;" data-id="{{value.num_iid}}" 
		        	data-query_cache="{{value.query_cache}}" 
    				data-comment="{{value.comment}}" 
    				data-volume="{{value.volume}}" 
    				data-coupon_money="{{value.coupon_money}}" 
    				data-buy_price="{{value.buy_price}}" 
    				data-app_url="{{value.app_url}}" 
    				data-pid="{{value.pid}}" 
    				data-click_url="{{value.click_url}}" 
		        	data-pic="{{value.pic_url}}" data-title="{{value.title}}" data-price="{{value.buy_price}}">
		            <div class='mui-media-object'>
				        <div class="img-container">
				        		{{if value.coupon_money}}<span class="coupon-wrapper">券 <i>￥</i><b>{{value.coupon_money}}</b></span>{{/if}}
				            	<img class="" src="{{value.pic_url}}">
				            	{{if value.tip_name}}<span class="new_icon top_icon">{{value.tip_name}}</span>{{/if}}
				        </div>
				    </div>
		            <div class="mui-media-body">{{value.title}}</div>
		            <div class="quan_item_price cf">
			           <div class="mui-pull-left">
				           	{{if value.coupon_money}}券后{{/if}}
				           	<span class="pir">¥</span>
				           	<span class="num">{{value.buy_price}}</span>
			           </div>
			           {{if value.volume}}
			           <span class="list mui-pull-right">已售{{value.volume}}件</span>
			           {{/if}}
			       </div>
		        </a>
	        </li>
	    {{/each}}
	</script>
	<script>
    		app_cn.set_txt('tab-99');
		var webview_detail = null; //详情页webview
		var titleNView = { //详情页原生导航配置
			backgroundColor: '#f7f7f7', //导航栏背景色
			titleText: '', //导航栏标题
			titleColor: '#000000', //文字颜色
			type: 'transparent', //透明渐变样式
			autoBackButton: true, //自动绘制返回箭头
			splitLine: { //底部分割线
				color: '#cccccc'
			}
		};
		var query_cid_items = {"item0":1};
			
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		
		document.querySelector('.mui-slider').addEventListener('slide', function(event) {
			var slideNumber  = event.detail.slideNumber;
			if(!query_cid_items.hasOwnProperty("item"+slideNumber)){
				query_cid_items["item"+slideNumber] = "1";
				if(slideNumber!=0){
					plus.nativeUI.showWaiting("加载中");
				}
				var scroll_data =  document.querySelector("#item"+slideNumber+"mobile .mui-scroll");
				var min_date = scroll_data.getAttribute("data-min-date");
				var max_date = scroll_data.getAttribute("data-max-date");
				query_coupon_goods({
					cid:slideNumber,
					min_date:min_date,
					max_date:max_date,
				});
			}
		});
		
		function query_coupon_goods(conditon_detail){
			var cid = conditon_detail.cid?conditon_detail.cid:'';
			var min_date = conditon_detail.min_date?conditon_detail.min_date:'';
			var max_date = conditon_detail.max_date?conditon_detail.max_date:'';
			mui.web_query('goods_list', {cid:cid,min_date:min_date,max_date:max_date,price2:'9.99',pic_size:'300'}, function(data){
				plus.nativeUI.closeWaiting();
				if(data && data.data.items.length > 0) {
					var datas = {
					    list: data.data.items
					};
					var html = template('tpl-coupon-goods', datas);
					document.querySelector("#item"+cid+"mobile .mui-grid-view").innerHTML=html;
					
					var scroll_data =  document.querySelector("#item"+cid+"mobile .mui-scroll");
					min_date = scroll_data.getAttribute("data-min-date");
					max_date = scroll_data.getAttribute("data-max-date");
					scroll_data.setAttribute("data-min-date",dateUtils.get_min(min_date,data.data.min_time));
					scroll_data.setAttribute("data-max-date",dateUtils.get_max(max_date,data.data.max_time));
				}
			}, function(tatus,status_err){
				plus.nativeUI.closeWaiting();
				 switch(status){
				    case 2:
				        plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
				        break;
				    default:
				    		plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
				        break;
			    }
			}, 3);
		}
		
		mui.plusReady(function () {
			(function($) {
				//阻尼系数
				var deceleration = mui.os.ios?0.003:0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: false, //是否显示滚动条
					deceleration:deceleration
				});
				$.ready(function() {
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						$(pullRefreshEl).pullToRefresh({
							down: {
								contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
								callback: function() {
									var self = this;
									var cid = self.element.getAttribute("data-cid");
									var max_date = self.element.getAttribute("data-max-date");
									$.web_query('goods_list', {
										cid:cid?cid:'',
										max_date:max_date?max_date:'',
										price2:'9.99',
										pic_size:'300'}, function(data){
										self.endPullDownToRefresh(false);
										if(data && data.data.items.length > 0) {
											var datas = {
											    title: '标签',
											    list: data.data.items
											};
											var html = template('tpl-coupon-goods', datas);
											self.element.querySelector('.mui-grid-view').insertAdjacentHTML("afterBegin",html);
											self.element.setAttribute("data-max-date",dateUtils.get_max(max_date,data.data.max_time));
//											plus.nativeUI.toast("更新了"+data.data.items.length+"条优惠信息", {verticalAlign: 'center'});
										}
									}, function(tatus,status_err){
										 switch(status){
										    case 2:
										        plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
										        break;
										    default:
										    		plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
										        break;
									    }
									}, 3);
									
								}
							},
							up: {
	//							auto: true,
								contentinit: '稍等，精彩即将开始',
	//		                    contentdown: '优质宝贝一波波来袭',
			                    contentrefresh: '正在加载...',
			                    contentnomore: '没有更多数据了',
								callback: function() {
									var self = this;
									var cid = self.element.getAttribute("data-cid");
									var min_date = self.element.getAttribute("data-min-date");
									$.web_query('goods_list', {
										cid:cid?cid:'',
										min_date:min_date?min_date:'',
										price2:'9.99',
										pic_size:'300'
									}, function(data){
										self.endPullUpToRefresh(false);
										if(data && data.data.items.length > 0) {
											var datas = {
											    list: data.data.items
											};
											var html = template('tpl-coupon-goods', datas);
											self.element.querySelector('.mui-grid-view').insertAdjacentHTML("beforeEnd",html);
											self.element.setAttribute("data-min-date",dateUtils.get_min(min_date,data.data.min_time));
										}else{
											self.endPullUpToRefresh(true);
										}
									}, function(tatus,status_err){
										 switch(status){
										    case 2:
										        plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
										        break;
										    default:
										    		plus.nativeUI.toast(status_err, {verticalAlign: 'center'});
										        break;
									    }
									}, 3);
								}
							}
						});
					});
				});
				query_coupon_goods({
					cid:'0'
				});
			})(mui);
		    //预加载详情页
			webview_detail = mui.preload({
				url: 'coupon_goods.html',
				id: 'coupon_goods.html',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical",
					"bounceBackground": "#efeff4",
					"titleNView": titleNView
				}
			});
		})

		//TODO 后续应该封装一个v-tap指令，实现tap监听
		mui('.mui-content').on('tap', '[data-id]', function() {
			var id = this.getAttribute('data-id');
			var title = this.getAttribute("data-title").trim();
			var pic_url = this.getAttribute("data-pic").trim();
			var click_url = this.getAttribute("data-click_url").trim();
			var comment = this.getAttribute("data-comment").trim();
			var volume = this.getAttribute("data-volume").trim();
			var coupon_money = this.getAttribute("data-coupon_money").trim();
			var buy_price = this.getAttribute("data-buy_price").trim();
			var app_url = this.getAttribute("data-app_url").trim();
			var query_cache = this.getAttribute("data-query_cache").trim();
			var pid = this.getAttribute("data-pid").trim();
			var json_detail = {
				id:id,
				title:title,
				pic_url:pic_url,
				click_url:click_url,
				comment:comment,
				volume:volume,
				coupon_money:coupon_money,
				buy_price:buy_price,
				app_url:app_url,
				query_cache:query_cache,
				pid:pid,
			};
			open_detail(json_detail);
		});

		function open_detail(json_detail) {
			//若详情页尚未预加载完成，则延时等待再执行
			if(!webview_detail) {
				setTimeout(function() {
					open_detail(json_detail);
				}, 100);
			}
			//触发子窗口变更新闻详情
			mui.fire(webview_detail, 'get_detail', {
				id: json_detail.id,
				title:json_detail.title,
				click_url:json_detail.click_url,
				pic_url:json_detail.pic_url,
				comment:json_detail.comment,
				volume:json_detail.volume,
				coupon_money:json_detail.coupon_money,
				buy_price:json_detail.buy_price,
				app_url:json_detail.app_url,
				query_cache:json_detail.query_cache,
				pid:json_detail.pid,
			});

			//更改详情页原生导航条信息
			titleNView.titleText = json_detail.title;
			webview_detail.setStyle({
				"titleNView": titleNView
			});
			setTimeout(function () {
				webview_detail.show("slide-in-right", 300);
			},150);
		}

		document.addEventListener('scroll_top',function (event) {
			mui('#slider').slider().gotoItem(0);
			mui('#scroll1').scroll().scrollTo(0,0,1000);
			window.scrollTo(0, 1000);
		})
			
	</script>
</html>