.app-nav-cat.mui-scroll-wrapper {
	height: 58px;
}
.mui-slider-indicator.app-nav-cat {
	line-height: 48px;
	background-color:#46454d;
	color:#FFFFFF;
}

.app-nav-cat.mui-scroll-wrapper .mui-control-item{
	padding-top:10px;
}
.app-nav-cat .mui-control-item{
	line-height: 38px;
	height: 58px;
	color:#FFFFFF;
}

.mui-slider .mui-segmented-control.app-nav-cat .mui-control-item.mui-active {
  border-bottom: 0px solid #f54e54;
  line-height: 38px;
  background-color: #313134;
  color:#FFFFFF;
}

.app-nav-cat .mui-control-item i
{
    display: block;
    width: 1.64rem;
    height: .64rem;
    margin: 0 auto .13333333rem;
    line-height: .64rem;
    font-size: 1.64rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: #fff;
}

.mui-fullscreen .app-nav-cat~.mui-slider-group{
	top:60px
}


