
.app-media-gift{
	/*padding:6px 0 0 7px;*/
}

.mui-table-view .app-media-gift img,.mui-slider .mui-slider-group .mui-slider-item .app-media-gift img {
	margin-right:5px;
    width:65px;
    height:65px;
}

.app-media-gift .goods_info{
    padding-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    overflow:hidden;
}

.app-media-gift .goods_title{
    font-size:12px;
    color: #535353;
    line-height:20px;
}
.app-media-gift .goods_desc{
    margin-top:5px;
    font-size:11px;
}
.app-media-gift .goods_price{
    margin-top:0px;
    font-size:12px;
    line-height:20px;
}
.app-media-gift .goods_price span{
    font-size:12px;
}

.app-media-gift span.goods_price_tip{
    margin-left:2px;
    font-size:11px;
    vertical-align:text-top;
    color:#a6a4b2;
}
.app-media-gift .goods_tip{
    width:24px;
    float:left;
    font-size:18px;
    padding:2px;
    line-height:1;
    margin:0 -9px -12px 0;
    border:1px solid #757380;
    background-repeat:no-repeat;
    box-sizing:border-box;
    color:#757380;
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    text-align:center;
    border-radius:2px;
}
.app-media-gift .goods_box{
    margin-top:0px;
    color:#757380;
    font-size:12px;
}
.app-media-gift .goods_box p{
    line-height:20px;
    font-size:12px;
}
.app-media-gift .goods_num{
    margin-top:8px;
}
.app-media-gift .no_begin{
    color:#18cc80;
}
.app-media-gift .goods_btn{
    width:75px;
    margin-top:4px;
    line-height:30px;
    font-size:12px;
}
.app-media-gift .goods_list .icon_tip{
    width:30px;
    height:15px;
    position:absolute;
    left:0;
    top:0;
}
