@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font-size:62.5%;
}
body {
    color: #535353;
    font-size:100%;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: #f5f5f5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing:antialiased;
    width: 100%;
    min-height: 100%;
    position: relative;
}
a { 
    font-size:100%; 
    vertical-align:baseline; 
    color: #435566;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
a:hover{color: #333;}
a:focus,input:focus{outline:none;}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500;
}
ol,ul,li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit;
}
fieldset,img,abbr,acronym {
    border: 0;
}
input,textarea {
    outline: none;
}
cite,em,s,i,b {
    font-style: normal;
}
button,input,select,textarea{
    font-family:inherit;
    font-size:100%;
    margin:0;
}
button,input{
    line-height:normal;
}
button,select{
    text-transform:none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer;
}
button[disabled],html input[disabled]{
    cursor:default;
}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

.fl {
    float: left
}
.fr {
    float: right
}

.hide {
    display: none
}
.fh {
    overflow: hidden;
    text-indent: -99em;
}
.wrap {
    margin: 0 auto
}
.pd5 {
    padding: 5px
}
.pd10 {
    padding: 10px
}
.pd20 {
    padding: 20px
}
.imgurl {
    display: block;
    background: #F5F5F6 ;
    -moz-background-size: 9.5em 9.5em;
    -o-background-size: 9.5em 9.5em;
    -webkit-background-size: 9.5em 9.5em;
    background-size: 9.5em 9.5em;
    width: 100%
}

.imgurl img {
    width: 100%
}

.fz20 {
    font-size: 1em
}

.fz25 {
    font-size: 1.25em
}

.fz27 {
    font-size: 1.35em
}

.fz30 {
    font-size: 1.5em
}

.fz32 {
    font-size: 1.6em
}

.fz36 {
    font-size: 1.8em
}

.fz46 {
    font-size: 2.3em
}
.mlr20 {
    margin: auto 1em
}

.m20 {
    margin: 1em 0
}

.m30 {
    margin: 1.5em 0
}

.mt20 {
    margin-top: 1em
}

.mb20 {
    margin-bottom: 1em
}

.mt40 {
    margin-top: 2em
}

.mb40 {
    margin-bottom: 2em
}

.mt-20 {
    margin-top: -1em
}

/* 0.5px边框 */
.border_all{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect x='0' y='0' width='100%' height='100%' style='fill:none;stroke:#e7e6eb;stroke-width:1'/></svg>");
    background-repeat:no-repeat;
}
.border_b{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#e7e6eb' x='0' y='0.5' width='100%' height='0.5'/></svg>");
    background-repeat:no-repeat;
    background-position:0 100%;
}
.border_t{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#e7e6eb' x='0' y='0' width='100%' height='0.5'/></svg>");
    background-repeat:no-repeat;
    background-position:100% 0;
}
.border_l{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='100%'><rect fill='#e7e6eb' x='0' y='0' width='0.5' height='100%'/></svg>");
    background-repeat:no-repeat;
    background-position:0 100%;
}
.border_r{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='100%'><rect fill='#e7e6eb' x='0' y='0' width='0.5' height='100%'/></svg>");
    background-repeat:no-repeat;
    background-position:100% 100%;
}
.border_new:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/* 通用 */
.com_ell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.2;}
body a.com_btn,.com_btn{display:inline-block;color:#fff;text-align:center;border-radius:3px;}
.com_mask{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:99}
.ver_middle{display:inline-block;vertical-align:middle;}

body{
    background-color:#fff;
}
.page{
    line-height:1;
    font-size:14px;
    color:#333;
}
.page a{
    color:inherit;
}
body .ano_color{
    color:#f54e54;
}
body .ano_bg{
    background-color:#f54e54;
}
.menu_content{
    padding-bottom:61px;
}
/* 头部 */
.page .icons,footer .icons,.list_logo i.icons{
    display:inline-block;
    vertical-align:middle;
    background-image:url(https://appimg.huim.com/mimg/m_ico.png);
    background-repeat:no-repeat;
    background-size:201.5px auto;
}
.app_box{
    padding:10px 20px 10px 17px;
    background-color:#f7f7f7;
    text-align:center;
}
.icon_logo{
    width:36px;
    height:36px;
    margin-right:5%;
    background-position:0 -56px;
}
.app_box a{
    width:37%;
    line-height:30px;
    border-radius:3px;
    border:1px solid #f54e54;
}
body a.app_open{
    color:#f54e54;
    margin-right:5%;
    background-color:#fff;
}
.app_box .new_app_download{
    color:#fff;
}
.nav{
    position:relative;
    padding:10.5px 0;
    text-align:center;
    background-color:#fff;
}
.nav h2{
    padding:3.5px 0;
    font-size:18px;
}
.go_sq{
    position:absolute;
    right:14px;
    top:14px;
    width:21px;
    height:20px;
    background-position:0 -126px;
    background-image:url(https://appimg.huim.com/mimg/m_ico.png);
    background-repeat:no-repeat;
    background-size:201.5px auto;
}
.detail_top{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:90;
}
.detail_top a{
    position:absolute;
    top:14px;
    left:10px;
}
.detail_top .icon_back{
    width:11.5px;
    height:21px;
    margin-right:5px;
    background-position:0 -335px;
}
.header_box{
    height:46px;
}
/* 底部 */
footer{
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    padding:5px 0;
    font-size:10px;
    color:#757380;
    text-align:center;
    background-color:#fff;
    line-height:1;
    z-index:90;
}
footer li{
    float:left;
    width:20%;
}
footer a{
    display:block;
}
footer .active{
    color:#f54e54;
}
.nav_index i{
    width:23px;
    height:23px;
}
.nav_index .active i{
    background-position:0 -28px;
}
.nav_kb i{
    width:24px;
    height:23px;
    background-position:-28px -1px; 
}
.nav_kb .active i{
    background-position:-28px -28px;  
}
.nav_sqt i{
    width:23px;
    height:23px;
    background-position:-54px -1px; 
}
.nav_sqt .active i{
    background-position:-54px -28px; 
}
.nav_qd i{
    width:21px;
    height:23px;
    background-position:-81px 0px;
}
.nav_qd .active i{
    background-position:-81.5px -28px;
}
.nav_dowmload .active i{
    background-position:-106px -28px;
}
.nav_dowmload i{
    width:24px;
    height:23px;
    background-position:-106px 0;
}
footer p{
    margin-top:5px;
}
/* 加载 */
#loading-mask{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
}
.loading #loading-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -moz-transition: all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    -o-transition: all 0.5s cubic-bezier(0.165,0.84,0.44,1);
    transition: all 0.5s cubic-bezier(0.165,0.84,0.44,1);
}

.loading-mask{
    width: 100px;
    height: 125px;
    background: url("https://i.huim.com/content_new/images/loading.png") no-repeat 50% 50%;
    background-size: 100px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -50px;
}
@-webkit-keyframes bouncedelay {
    0%,80%,100% {
        -webkit-transform: scale(0.0);
        background: #e5e5e5
    }

    40% {
        -webkit-transform: scale(1.0);
        background: #f95c68
    }
}

@-moz-keyframes bouncedelay {
    0%,80%,100% {
        transform: scale(0.0);
        -moz-transform: scale(0.0);
        background: #e5e5e5
    }

    40% {
        transform: scale(1.0);
        -moz-transform: scale(1.0);
        background: #f95c68
    }
}

@keyframes bouncedelay {
    0%,80%,100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        background: #e5e5e5
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        background: #f95c68
    }
}
.anm{
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110px;
    overflow: hidden;
    margin-left: 4px;
    text-align: center;
}
.loading-mask ul {
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 110px;
    overflow: hidden;
    margin-left: 13px;
    text-align: center
}

.loading-mask ul li {
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    background: #e5e5e5;
    margin-right: 8px;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both
}

.loading-mask ul.anm li {
    background: #e5e5e5;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.loading-mask ul.anm li:nth-child(1) {
    -webkit-animation-delay: -0.64s;
    -moz-animation-delay: -0.64s;
    animation-delay: -0.64s
}

.loading-mask ul.anm li:nth-child(2) {
    -webkit-animation-delay: -0.48s;
    -moz-animation-delay: -0.48s;
    animation-delay: -0.48s
}

.loading-mask ul.anm li:nth-child(3) {
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.loading-mask ul.anm li:nth-child(4) {
    -webkit-animation-delay: -0.16s;
    -moz-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.header-wrap i,.menu-content li i,.row-arrow,.detail-warp .det-tips dd,.action-nav a i,.uc-nav li i,.exp-icon{
	background-image: url("../img/base-ic.png");
	background-repeat: no-repeat;
	background-size: 89px 308px;
}
/* footer */
.web_bottom{
    position:fixed;
    bottom:-121px;
    right:14px;
    width:60px;
    text-align:center;
    transition:transform 1.5s;
    -webkit-transition:-webkit-transform 1.5s;
    z-index:98;
}
.bottom_show{
    -webkit-transform:translateY(-126px);
    transform:translateY(-126px);
}
.page_bottom_show{
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
}
.gotop{
    width: 36px;
    height: 35px;
    background-position: -166px -74px;
}
.com_goapp{
    width:58px;
    height:65px;
    margin-top:21px;
    background-position: -144px -114px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:#ccc;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:#ccc;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:#ccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:#ccc;
}
/* = app 下载
----------------------------------------------------------------------*/
body li.list_logo{
    overflow:hidden;
    padding:25px 10px 25px 7px;
}
.list_logo .list_icon_logo{
    width:50px;
    height:50px;
    margin-right:7px;
    background-position:-151px 0;
}
.list_logo .logo_text{
    font-size:16px;
}
.logo_other{
    color:#4c4c4c;
    font-size:13px;
}
.logo_info{
    padding-top:9px;
}
.list_logo .icon_star{
    margin-top:8px;
    width:71px;
    height:10.5px;
    background-position:-129px -54.5px;
}
.list_logo .com_btn{
    display:inline-block;
    margin-top:9px;
    width:75px;
    height:30px;
    line-height:30px;
    color:#f54e54;
    border:1px solid #f54e54;
    background:#fff;
}
/* new loading */
@-webkit-keyframes rotate {0% {-webkit-transform: rotate(0deg) ; transform: rotate(0deg) ; } 50% {-webkit-transform: rotate(180deg); transform: rotate(180deg) ; } 100% {-webkit-transform: rotate(360deg) ; transform: rotate(360deg) ; } } @keyframes rotate {0% {-webkit-transform: rotate(0deg) ; transform: rotate(0deg) ; } 50% {-webkit-transform: rotate(180deg); transform: rotate(180deg); } 100% {-webkit-transform: rotate(360deg) ; transform: rotate(360deg) scale(1); } }
    .loading_box{
        display:none;
        padding:10px 0;
        text-align:center;
    }
    .loading_icon{
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        border: 2px solid #f95c68;
        border-bottom-color: transparent;
        background: transparent;
        -webkit-animation: rotate 0.75s linear infinite;
        animation: rotate 0.75s linear infinite;
    }
#container.index{
    padding-bottom:0;
}
.no_data{
    display:none;
    color:#b0afb3;
    font-size:12px;
    text-align:center;
    line-height:45px;
}
/* 淘口令弹窗 */
.com_mask{
    display:none;
    text-align:center;
}
.mask_box{
    width:85%;;
    padding:20px 15px 25px;
    margin:40% auto 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fff;
    border-radius:5px;
    font-size:13px;
}
.mask_info{
    position:relative;
    padding:10px;
    color:#999;
    line-height:1.7;
    text-align:left;
}
.mask_info p{
    word-break:break-all;
    word-wrap:break-word;
}
.copy_success{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:14px;
    color:#3eab1e;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect x='0' y='0' width='100%' height='100%' style='fill:none;stroke:#aee99c;stroke-width:1'/></svg>");
    background-repeat:no-repeat;
    background-color:#e7f8e2;
    text-align:center;
}
.copy_success:before{
    content:'';
    display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle;
}
.copy_success p{
    display:inline-block;
    vertical-align:middle;
}
.copy_success i{
    margin-right:5px;
    vertical-align:sub;
}
.mask_btn{
    position: relative;
}
.mask_btn a{
    width:70%;
    margin-top:25px;
    line-height:40px;
    font-size:15px;
    background-color:#f54e54;
}
.mask_btn a:active{
    background-color:#f7656a;
}
.mask_btn span{
    display:none;
    position:absolute;
    top:28px;
    right:0;
    color:#1fbe50;
}
.mask_tip{
    margin-top:15px;
    font-size:14px;
    color:#757380;
}
a.mask_close{
    display:inline-block;
    margin-top:35px;
    padding:5px;

}
.base_close{
    width:21px;
    height:21px;
    background-position: 0px -17px;
}
.base_icons{
    display: inline-block;
    background-size:auto 38px;
    background-image:url(https://appimg.huim.com/mimg/base/icons.png);
}
.base_success{
    width: 16px;
    height: 16px;
    background-position: 0px 0px;
}
.mask_top{
    display:none;
    font-size:16px;
    margin-bottom:10px;
}
/* 抢完 */
.no_num{
    position:absolute;
    width:87px;
    height:87px;
    top:20px;
    left:22px;
    font-size:15px;
    text-align:center;
    color:#fff;
    border-radius:50%;
    z-index:10;
    background-color:rgba(0,0,0,0.6);
}
.no_num span{
    display:inline-block;
    margin-top:3px;
    width:78px;
    height:78px;
    line-height:78px;
    border:1px solid #a7a199;
    border-radius:50%;
    transform:rotate(-13deg);
    -webkit-transform:rotate(-13deg);
}

/* = Global pop
----------------------------------------------------------------------*/
#overlay{
    width:100%;
    height:100%;
    background:#000;
    position:fixed;
    _position:absolute;
    top:0; 
    left:0;
    opacity:0.2;
    z-index:110;
}

.popbox{ 
    background:#fff; 
    position:fixed; 
    top:50%; 
    left:50%; 
    z-index:1001; 
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius: 8px;
    text-align:center;
}
.popbox-icon{
    display:block;
    padding:20px 0 10px 0;
    width:100%;
}
.resultok { 
    width:100px; 
    height:100px; 
    margin:-70px 0 0 -50px; 
    font-size:14px; 
    font-weight:700; 
    color:#fff; 
    background: rgba(0,0,0,0.8);
}
.pop-prompt{
    width:90%;
    height:110px;
    margin:-80px 0 0 -45%; 
 }
.pop-prompt-text{
    font-size:1.5rem; 
    height:60px; 
    line-height:60px;
}
.popbox-action{
    height:50px;
    line-height:50px;
    border-top:1px solid #ebebeb;   
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
}
.popbox-action a{
    font-size:1.5rem; 
    display:block;
    color: #1282ff;
}

/* 关闭弹窗 */
.popbox .popclose{ 
    display:inline-block; 
    float:right; 
    margin:10px 10px 0 0; 
    width:24px; 
    height:24px; 
    line-height:999em; 
    overflow:hidden; 
}
.win-top{ 
    padding:8px 5px 0 0; 
    text-align:right; 
}
.win-top a{ 
    display:inline-block; 
    width:20px; 
    height:19px; 
    background-position:0px -433px;
}
.resultok .resultok-icon{ 
    float:left; 
    margin:20px 10px 0 20px; 
    display:inline-block; 
    width:35px; 
    height:25px; 
    background-position:0 -350px;
}

/*
 * @author lk
 * 搜券通
*/
/* 首页 */
a.go_help{
	position:absolute;
	right: 14px;
    top: 15px;
	color:#757380;
}
a.go_help span{
	display:inline-block;
	vertical-align:middle;
}
.sqt_index .icons,.result_contain .icons{
	background-image:url(https://appimg.huim.com/images/souquan/sqt_ico.png?v=0516);
	background-size:80px auto;
	background-repeat: no-repeat; 
}
a.go_help i{
	width:15px;
	height:14px;
	margin-right:3px;
	background-position:-36px -106px;
}
.sqt_index{
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:-webkit-transform .3s;
	transition:transform .3s;
}
.sqt_title_box{
	text-align:center;
}
.sqt_box{
	position:absolute;
	width:100%;
	top:0;
}
.sqt_title{
	display:inline-block;
	font-size:23px;
	margin-right:6px;
	font-weight:500;
	color:#fff;
	vertical-align:middle;
}
.sqt_header{
	position: relative;
	min-height:112px;
}
.sqt_header img{
	vertical-align:top;
}
.sqt_box .tip{
	display:inline-block;
	width:80px;
	text-align:center;
	font-size:12px;
	color:#fffbd1;
	border:1px solid #fffbd1;
	border-radius:15px;
	line-height:28px;
	vertical-align:middle;
}
.icon_arrow{
	margin-left:5px;
	width:7px;
	height:13px;
}
.search_box{
	position: relative;
	margin:8% 10px 4%;
	line-height:45px;
	height:45px;
	box-shadow: 0 0 1px #f7d8cc;
	background-color:#fff;
	border-radius:5px;
	box-sizing:border-box;
}
.search_box .search_info{
	position:relative;
	width:76%;
}
.search_box input{
	width:80%;
	height:40px;
	font-size:15px;
	color:#333;
	line-height:20px;
	border:none;
	vertical-align:middle;
}
.icon_search{
	margin:0 5px 0 10px;
	width:15px;
	height:15px;
	background-position:0 -17px;
}
.search_box .go_search{
	display:inline-block;
	height:100%;
	line-height:47px;
	width:22%;
	text-align:center;
	font-size:17px;
	color:#333;
	background: -webkit-linear-gradient(left,#ffd40b, #ffb300);
    background: linear-gradient(to right,#ffd40b, #ffb300);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.sqt_number{
	font-size:13px;
	text-align:center;
	color:#fff;
}
.list_logo{
    position:relative;
    margin-bottom:5px;
}
.list_logo:before{
    border:1px solid #e7e6eb;
    border-left:none;
    border-right:none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a6a4b2;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a6a4b2;
}

input:-ms-input-placeholder{
    color: #a6a4b2;
}

input::-webkit-input-placeholder{
    color: #a6a4b2;
}
/* 分类 */
.tickets,.goods{
	margin-left:10px;
}
.sqt_common_top{
	margin:10px 10px 11px 0;
	color:#757380;
	font-size:13px;
}
.sqt_common_top .change{
	position:relative;
	padding:0 6px;
	font-size:12px;
}
.change span{
	line-height:23px;
}
.sqt_common_top .fl{
	line-height:23px;
}
.sqt_common_top .change:before{
	border:1px solid #a6a4b2;
	border-radius:6px;
}
.goods .sqt_common_top{
	margin-top:7px;
}
.icon_change{
	width:13px;
	height:11px;
	margin-right:4px;
	background-position:0 -37px;
	background-size:160px auto;
}
.tickets_list{
	height:126px;
	overflow:hidden;
	color:#59595c;
}
.tickets_list a{
	display:block;
}
.tickets_list li{
	float:left;
	margin:0 10px 10px 0;
	padding:9px 13px;
	background-color:#f2f4f5;
	border-radius:5px;
}
.goods li{
	width:50%;
	float:left;
	box-sizing:border-box;
	padding-right:10px;
	margin-bottom:10px;
}
.goods li a{
	display:block;
	height:62px;
	overflow:hidden;
	position: relative;
	box-sizing:border-box;
}
.goods li a:active{
	background-color:#f5f5f5;
}
.type_box{
	width:141px;
	margin:0 auto;
}
.goods li a:before{
	border-radius:10px;
	border:1px solid #e7e6eb;
}
.goods_title{
	margin-bottom:10px;
	font-size:15px;
	color:#333;
	font-weight:700;
}
.goods_desc{
	font-size:12px;
	color:#a6a4b2;
}
.goods li img{
	width:62px;
	height:auto;
}
.goods_type{
	padding-top:13px;
}
.goods_type,.goods_img{
	display:inline-block;
	vertical-align:middle;
}
/* 搜索栏 */
.search_list{
	display:none;
	position:absolute;
	width:100%;
	top:45px;
	background-color: #fff;
	border-radius:5px;
	box-sizing:border-box;
	box-shadow:0 0 5px #dedcdc;
	z-index:2;
	overflow:hidden;
	border:1px solid #e7e6eb;
}
.search_list li{
	margin:0 7px;
	line-height:40px;
}
.search_list a{
	display:block;
	color:#46454d;
}
.search_list .search_item{
	width:200px;
	overflow:hidden;text-overflow: ellipsis;white-space:nowrap;
}
.search_do{
	padding:0 20px 0 10px;
	background-color:#f2f4f5;
	color:#757380;
	font-size:13px;
}
.icon_delete{
	width:14px;
	height:14px;
	margin-right:5px;
	background-position:0 -53px;
	vertical-align: text-bottom;
}
.search_list li:last-child{
	background:none;
}
.search_list li a span{
	color:#a6a4b2;
}
.page .icon_clear{
	position:absolute;
	right:0;
	top:14px;
	display:none;
	width:16px;
	height:16px;
	background-position:0 -72px;
}
.tkl_btn{
	width:22%;
	font-size:16px;
	text-align:right;
	padding-right:5px;
	box-sizing:border-box;
}
.tkl_btn span{
	display:inline-block;
}
/* 黏贴板 */
.copy_box{
	display:none;
	position:absolute;
	width:90%;
	left:5%;
	bottom:-50px;
	height:44px;
	padding-left:10px;
	line-height:44px;
	color:#fff;
	background-color:rgba(0,0,0,0.8);
	border-radius:6px;
}
.copy_box p{
	width:86%;
	float:left;
	line-height:44px;
}
.copy_box span{
	text-decoration: underline;
}
.arrow_top{
	position:absolute;
	top:-4px;
	left:15px;
	height: 0;
	border-bottom: 4px solid rgba(0,0,0,0.8);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.close_box{
	margin:7px 7px 0 0;
	width:30px;
	height:30px;
	float:right;
	line-height:30px;
	text-align:center;
}
.icon_close2{
	width:15px;
	height:15px;
	background-position:0 -256px;
}
/* 找券结果 */
.result{
	position:fixed;
	width:100%;
	left:0;
	padding-top:10px;
	background-color:#fff;
	z-index:9;
}
.result_contain{
	background-color:#f2f4f5;
}
.result_contain .search_box {
	margin:0;
	box-shadow:none;
	background-color:transparent;
}
.result_contain .result{
	top:45px;
	height:44px;
}
.result_box{
	position:relative;
	margin:0 10px; 
}
.result_box:before{
	border:1px solid #e7e6eb;
	border-radius:10px;
}
.result_box .go_search{
	width:15%;
	font-size:15px;
}
.result_box .search_info{
	width:80%;
}
.result_type_box{
	height:45px;
}
.result_type{
	position:fixed;
	top:45px;
	left:0;
	width:100%;
	color:#46454d;
	line-height:45px;
	background-color:#fff;
	z-index:2;
}
.result_type a{
	display:block;
}
.result_type li{
	float:left;
	text-align:center;
	width:25%;
}
.result_type .active a{
	color:#f54e54;
}
.result_info{
	overflow:hidden;
	padding-bottom:10px;
	padding-right:10px;
}
.result_list{
	margin-top: 7px;
    background-color: #fff;
}
.fixed_gride{
	-webkit-overflow-scrolling: touch;
    position: fixed;
    top: 144px;
    bottom: 0;
    overflow-y: scroll;
    width:100%;
}
.result_list li:first-child,.history_list .history_top+a{
	padding-top:8px;
}
.result_list li:nth-child(10) .result_info{
	background:none;
}
.history_list a{
	padding:5px 0 0 10px;
}
.result_list li:last-child .result_info{
	background:none;
}
.result_list li{
	padding:0 0 5px 10px;
}
.result_list a{
	display:block;
}
.result_img{
	margin-right:10px;
	width:132px;
	height:132px;
}
.icons_tb,.icons_tm{
	width:14px;
	height:14px;
}
.icons_tb{
	background-position:0 -112px; 
}
.icons_tm{
	background-position:0 -93px; 
}
.result_by,.result_ticket,.result_tb span,.result_tm span{
	font-size:20px;
	padding:0 6px;
	margin-bottom:-14px;
	margin-right:-50px;
	position: relative;
	line-height:26px;
	color:#f54e54;
	border:1px solid #f54e54;
	border-radius: 4px;
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
}
.result_tb span{
	color:#fd7200;
	border:1px solid #fd7200;
}
.result_tm span{
	color:#e3113e;
}
.result_tb span,.result_tm span{
	margin-left:5px;
	display: inline-block;
    vertical-align: middle;
}
.result_by{
	margin-left:4px;
}
.result_by:before{
	border:1px solid #f54e54;
	border-radius: 2px;
}
.result_title{
	margin-bottom:6px;
	padding-top:3px;
	height:36px;
	line-height:18px;
	overflow:hidden;
	color:#333
}
.result_price{
	margin-top:23px;
	color:#f54e54;
	font-size:12px;
}
.price_value{
	margin-right:5px;
	font-size:24px;
}
.result_bottom{
	margin-top:8px;
	font-size:12px;
	line-height:16px;
}
.ticket_number,.price_other{
	color:#a6a4b2;
}
.icon_history,.icon_top{
	position:fixed;
	right:10px;
	width:45px;
	height:45px;
}
.icon_history{
	position:fixed;
	bottom:80px;
	right:10px;
	background-position:-34px 0;
}
p.icon_top{
	bottom:-45px;
	-webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
	background-position:-35px -50px;.
}
.icon_top.show{
	-webkit-transform:translateY(-65px);
	transform:translateY(-65px);
}
.data_loading{
	margin-top:150px;
}
/* 搜券记录 */
.history_top{
	padding:11px 0 11px 11px;
	color:#46454d;
}
.get_recode{
	display:block;
	margin-top:250px;
}
.history_list .result_list{
	margin:0;
	background:#f2f4f5;
}
.history_list a{
	background:#fff;
}
/* 分享页 */
.sjt_ano{
	color:#f54e54;
}
.share_box{
	padding:15px 10px 70px;
}
.share_title{
	margin-bottom:5px;
	font-size:15px;
	color:#333;
}
.share_desc{
	margin-bottom:24px;
}
.icon_btb,.icon_btm{
	padding-right:3px;
	width:16px;
	height:16px;
	vertical-align:-3px;
}
.icon_btb{
	background-position:0 -150px;
}
.icon_btm{
	background-position:0 -131px;
}
.share_sprice{
	margin-bottom:12px;
	font-size:13px;
	color:#757380;
}
.title_h{
	margin-bottom:12px;
	line-height:20px;
	max-height:40px;
	overflow:hidden;
}
.end_box{
	position:relative;
	display:inline-block;
	width:45px;
	height:21px;
	margin-right:15px;
	text-align:center;
	line-height:21px;
	font-size:12px;
	color:#fff;
	border-radius:3px;
}
.end_box:before{
	position:absolute;
	right:-4px;
	top:6px;
	content:'';
	height: 0;
	border-left: 4px solid #f54e54;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;

}
.share_end_value span{
	font-size:24px;
}
.share_end_value{
	display:inline-block;
	vertical-align:middle;
}
.btn_box{
	width:100%;
	position:fixed;
	bottom:10px;
}
a.share_btn{
	display:block;
	margin:0 10px;
	line-height:45px;
	color:#fff;
	font-size:17px;
}
/* 淘口令 */
.mask_box{
	width:90%;
	margin:30% auto 0;
	background-color:#fff;
	border-radius:6px; 
	color:#333;
	box-sizing:border-box;
}
.tbl{
	padding:20px 15px 15px;
}
.icon_tkl{
	width:52px;
	height:52px;
	background-position:0 -200px;	
}
.tkl_top{
	display:inline-block;
	vertical-align:middle;
	margin-left:3px;
	font-size:16px;
	line-height:1.4;
	text-align:left;
}
.tkl_top_box{
	text-align:center;
}
.item_box{
	margin-top:18px;
}
.item img{
	width:80px;
}
.item_info{
	padding:10px 10px 12px;
	background-color:#f2f4f5;
	overflow:hidden;
}
.item_info p{
	margin-bottom:12px;
	line-height:16px;
	height:32px;
	overflow:hidden;
}
.item_info span{
	color:#757380;
}
.item_tip{
	margin:27px 0;
	font-size:18px;
	text-align:center;
}
.tip_info{
	color:#333;
}
.item_tip .tip_icon{
	font-size:13px;
}
.mask_box a.buy_btn{
	display:block;
	line-height:45px;
	color:#fff;
	font-size:16px;
}
.icon_delete_2{
	width:24px;
	height:24px;
	margin-top:3px;
	background-position:0 -171px;
}
.delete_box{
	width:30px;
	height:30px;
	margin:38px auto 0;
	text-align:center;
}
.no_ticket{
	color:#a6a4b2;
	font-size:14px;
}
.mask_no_tkl{
	margin-top:40%;
	text-align:center;
	padding:34px 0 30px;
}
.mask_waiting{
	margin-top:40%;
	text-align:center;
	padding:25px 0 15px;
}
.mask_no_tkl p{
	font-size:16px;
	line-height:1.5;
}
.no_tkl_btn{
	width:190px;
	margin-top:29px;
	line-height:44px;
	font-size:15px;
	color:#fff;
}
.mask_waiting img{
	width:90%;
}
.waiting_tip{
	margin-bottom:25px;
	font-size:15px;
	color:#a6a4b2;
}
.waiting_btns{
	padding:0 15px;
}
.waiting_btns a{
	position:relative;
	float:left;
	margin-right:4%;
	box-sizing:border-box;
	font-size:17px;
	line-height:40px;
	width:48%;
	color:#757380;
}
.waiting_btns a:last-child{
	margin-right:0;
}
.waiting_btns a:before{
	border-radius:3px;
	border:1px solid #757380;
}
.waiting_btns .ano_color:before{
	border:1px solid #f54e54;
}
.waiting_btns .ano_color{
	color:#f54e54;
}
.sqt_result .loading_box{
	display:block;
}
li.ct_loading{
	height:126px;
	width:100%;
	background-color:#fff;
}
#loading_box2{
	display:none;
}
.none_list{
	margin-top:200px;
}
input[type=search] {
	-webkit-appearance: textfield;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button{
	display: none;
}
#sjt_tkl.show_tkl{
	-webkit-animation:zoomIn .5s;
	animation:zoomIn .5s;
}
@-webkit-keyframes zoomIn{
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50%{
		opacity: 1;
	}
}

@keyframes zoomIn{
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-ms-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50%{
		opacity: 1;
	}
}
/* 领券指南 */
.get_info{
	display:none;
}
.explain{
	padding:15px 0;
	color:#333;
}
.select_top{
	width:80%;
	height:39px;
	line-height:39px;
	margin:0 auto 22px;
	border-radius:20px;
	box-sizing:border-box;
}
.select_top a{
	display:inline-block;
	float:left;
	width:50%;
	text-align:center;
	color:#f54e54;
	background-color:#fff;
	font-size:15px;
	border:1px solid #f54e54;
	box-sizing:border-box;
}
.select_top a:first-child{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
.select_top a:last-child{
	border-left:none;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.select_top .active{
	color:#fff;
	background-color:#f54e54;
}
.explain_desc{
	position:relative;
	margin:0 18px 25px;
	padding:19px 33px;
	font-size:16px;
	line-height:1.7;
	font-weight:700;
}
.explain_desc:before,.explain_desc:after{
	content:'';
	position:absolute;
	width:17px;
	height:17px;
}
.explain_desc:before{
	top:0;
	left:0;
	border-top:3px solid #f54e54;
	border-left:3px solid #f54e54;
}
.explain_desc:after{
	bottom:0;
	right:0;
	border-bottom:3px solid #f54e54;
	border-right:3px solid #f54e54;
}
.explain_title{
	margin:10px 0;
	font-size:18px;
	font-weight:700;
	line-height:26px;
}
.explain_ct{
	font-size:15px;
	line-height:1.5;
}
.explain img{
	width:100%;
	margin:5px 0;
}
.explain_step{
	font-weight:700;
	font-size:16px;
	line-height:30px;
}
.explain_ct span,.explain_desc span{
	color:#f54e54;
}
.get_info p,.get_info h2,.use_tkl p,.use_tkl h2{
	padding:0 18px;
}
a.go_url{
	display:block;
	margin-left:18px;
	padding:20px 0;
	font-size:15px;
	color:#3366cc;
}
a.go_url span{
	margin-left:3px;
	vertical-align:text-top;
}
.com_mask{
	display:none;
}
.money_icon{
	font-size:11px;
}
.app_promotion_bar{
	line-height:initial;
}

input[type=search] {
	text-align: left;
	margin-bottom:0px;
  	padding:0px 0px;
  	border-radius:0px;
  	background-color:#FFFFFF;
}