
:root {
	--header-bg:#5eb95e;
	--header-border:#5eb95e;
	--header-title-color:#ffffff;
	--main-bg:#ffffff;
	--main-color:#666666;
	--main-link-color:#5eb95e;
	--footer-bg:#ffffff;
	--footer-color:#000000;
	--btn-bg:#208d4e;
}